* {
    margin: 0;
    padding: 0;
    font: inherit;
}

@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf");
}

body {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}
.hide {
    display: none !important;
}

/* addBookForm */

#addBookForm {
    position: absolute;
    top: 50%;  
    left: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
    height: 150px;
    width: 200px;
    background-color: gray;
    border-radius: 0.5rem;
}

#addBookForm > input {
    border: none;
    border-radius: 0.5rem;
    padding: 5px;
    color: white;
}

/* showBookForm */
.showBookForm {
    grid-template: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 24, 24);
    color: white;
    /* width: 100px;
    height: 100px; */

    font-size: 100px;
    font-weight: bold;
}

/* book card */

.book {
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: rgb(48, 41, 41);
    box-shadow: 0 0 10px 5px rgb(87, 77, 77);
    color: white;
    /* width: 150px;
    height: 200px; */
    padding: 10px 20px;
    font-family: "Norse Bold";
    border-radius: 0.1rem;
}

.book > * {
    flex: 1;
}

.book .title {
    font-size: 30px;
    align-self: center;
    justify-self: center;
}

.book .author {
    align-self: center;
    justify-self: center;
    color: rgb(195, 191, 191);
}

.book .pages {
    align-self: center;
}

.btnContainer {
    display: flex;
}

.btnContainer .btn {
    flex: 1;
}

/* btn */

.btn {
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    height: 35px;
    width: 80px;
}

.read {
    background-color: green;
}

.unread {
    background-color: rgb(97, 17, 17);
}