* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 1.3rem;
}

@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf");
}

:root {
    --background-color: #111314;
    --background-color2: rgb(16, 13, 13);
    --text-color: white;
    --shadow-color: gray;
}

body {
    background-color: var(--background-color2);
}

.books {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr))
}
.hide {
    display: none !important;
}

/* addBookForm */

#addBookForm {
    position: absolute;
    top: 50%;  
    left: 40%;
    padding: 30px;
    background-color: var(--shadow-color);
    border-radius: 0.5rem;
}
#addBookForm > fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#addBookForm  input {
    border: none;
    border-radius: 0.5rem;
    padding: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
}

#addBookForm fieldset {
    border: none;
}
legend {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* showBookForm */
.showBookForm {
    grid-template: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0 var(--shadow-color);
    min-height: 230px;
}


/* book card */

.book {
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: var(--background-color);
    box-shadow: 5px 5px 5px 0 var(--shadow-color);
    color: white;
    padding: 10px 20px;
    font-family: "Norse Bold";
    border-radius: 0.1rem;
}

.book > * {
    flex: 1;
}

.book .title {
    font-size: 30px;
    align-self: center;
    justify-self: center;
}

.book .author {
    align-self: center;
    justify-self: center;
    color: rgb(195, 191, 191);
}

.book .pages {
    align-self: center;
}

.btnContainer {
    display: flex;
}

.btnContainer .btn {
    flex: 1;
}

/* btn */

.btn {
    color: white;
    background-color: var(--background-color);
    border-radius: 0.5rem;
}

form .btn {
    height: 50px;
    width: 120px;
}

.read {
    background-color: green;
}

.unread {
    background-color: rgb(97, 17, 17);
}